/*===========================
    01.COMMON css 
===========================*/

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Sen:wght@400;700;800&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    font-weight: normal;
    font-style: normal;
    color: $body-color;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);
}


a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    text-decoration: none;
    outline: none;
    @include box-shadow(none);
}

a:hover {
    color: $theme-color;
}

a {
    @include transition(.3s);
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0px;
    color: $heading-color;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;

    @media #{$xs} {
        font-size: 34px;
    }

    @media #{$sm} {
        font-size: 36px;
    }
}


h2 {
    font-size: 36px;

}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0px;
}

.img-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.error {
    color: orangered;
}
.success {
    color: green;
}
// others common css here

/*===== All Button Style =====*/

.main-btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    @include user-select(none);
    padding: 17px 40px;
    font-size: 20px;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    z-index: 5;
    transition: all .4s ease-in-out;
    border: none;
    background: $theme-color;
    overflow: hidden;


    &:hover {
        color: $white;
    }

    &.border-btn {
        border: 2px solid $theme-color;
        background: transparent;
        color: $heading-color;
    }
}

.btn-hover {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.05);
        top: 50%;
        left: 50%;
        padding: 50%;
        z-index: -1;
        @include transition(.3s);
        @include transform(translate3d(-50%, -50%, 0) scale(0));
    }

    &:hover {

        &::after {
            @include transform(translate3d(-50%, -50%, 0) scale(1.3));
        }
    }
}



// scroll-top
.scroll-top {
    width: 45px;
    height: 45px;
    background: $theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $white;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    cursor: pointer;
    @include transition(.3s);

    &:hover {
        color: $white;
        background: rgba($theme-color, .8);
    }
}


@keyframes animation1 {
    0% {
        @include transform(translateY(30px));
    }

    50% {
        @include transform(translateY(-30px));
    }

    100% {
        @include transform(translateY(30px));
    }
}

@-webkit-keyframes animation1 {
    0% {
        @include transform(translateY(30px));
    }

    50% {
        @include transform(translateY(-30px));
    }

    100% {
        @include transform(translateY(30px));
    }
}


/*===== All Preloader Style =====*/

.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    /* Change Background Color */
    background: $white;
    z-index: 99999;

    & .loader {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        & .ytp-spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 64px;
            margin-left: -32px;
            z-index: 18;
            pointer-events: none;

            & .ytp-spinner-container {
                pointer-events: none;
                position: absolute;
                width: 100%;
                padding-bottom: 100%;
                top: 50%;
                left: 50%;
                margin-top: -50%;
                margin-left: -50%;
                @include animation(ytp-spinner-linspin 1568.23529647ms linear infinite);

                & .ytp-spinner-rotator {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    @include animation(ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both);

                    & .ytp-spinner-left {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        overflow: hidden;
                        right: 50%;
                    }

                    & .ytp-spinner-right {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        overflow: hidden;
                        left: 50%;
                    }
                }
            }
        }

        & .ytp-spinner-circle {
            box-sizing: border-box;
            position: absolute;
            width: 200%;
            height: 100%;
            border-style: solid;
            /* Spinner Color */
            border-color: $theme-color $theme-color $border-color;
            border-radius: 50%;
            border-width: 6px;
        }

        & .ytp-spinner-left {
            & .ytp-spinner-circle {
                left: 0;
                right: -100%;
                border-right-color: $border-color;
                @include animation(ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both);
            }
        }

        & .ytp-spinner-right {
            & .ytp-spinner-circle {
                left: -100%;
                right: 0;
                border-left-color: $border-color;
                @include animation(ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both);
            }
        }
    }
}

/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        @include transform(rotate(360deg));
    }
}

@keyframes ytp-spinner-linspin {
    to {
        @include transform(rotate(360deg));
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        @include transform(rotate(135deg));
    }

    25% {
        @include transform(rotate(270deg));
    }

    37.5% {
        @include transform(rotate(405deg));
    }

    50% {
        @include transform(rotate(540deg));
    }

    62.5% {
        @include transform(rotate(675deg));
    }

    75% {
        @include transform(rotate(810deg));
    }

    87.5% {
        @include transform(rotate(945deg));
    }

    to {
        @include transform(rotate(1080deg));
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        @include transform(rotate(135deg));
    }

    25% {
        @include transform(rotate(270deg));
    }

    37.5% {
        @include transform(rotate(405deg));
    }

    50% {
        @include transform(rotate(540deg));
    }

    62.5% {
        @include transform(rotate(675deg));
    }

    75% {
        @include transform(rotate(810deg));
    }

    87.5% {
        @include transform(rotate(945deg));
    }

    to {
        @include transform(rotate(1080deg));
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        @include transform(rotate(130deg));
    }

    50% {
        @include transform(rotate(-5deg));
    }

    to {
        @include transform(rotate(130deg));
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        @include transform(rotate(130deg));
    }

    50% {
        @include transform(rotate(-5deg));
    }

    to {
        @include transform(rotate(130deg));
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        @include transform(rotate(-130deg));
    }

    50% {
        @include transform(rotate(5deg));
    }

    to {
        @include transform(rotate(-130deg));
    }
}

@keyframes ytp-right-spin {
    0% {
        @include transform(rotate(-130deg));
    }

    50% {
        @include transform(rotate(5deg));
    }

    to {
        @include transform(rotate(-130deg));
    }
}

// ============ Margin and Padding ===============

// Margin-top
@for $i from 1 through 45 {
    .mt-#{5 * $i} {
        margin-top: 5px * $i;
    }
}

// Margin-bottom
@for $i from 1 through 45 {
    .mb-#{5 * $i} {
        margin-bottom: 5px * $i;
    }
}

// Padding-top
@for $i from 1 through 45 {
    .pt-#{5 * $i} {
        padding-top: 5px * $i;
    }
}

// Padding-bottom
@for $i from 1 through 45 {
    .pb-#{5 * $i} {
        padding-bottom: 5px * $i;
    }
}
